:root{
    --main_color:#d81919;
    --black: #ec0909;
    --bg: #241010;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    front-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2 linear;
}

body {
    background-color: var(--bg);
}

.hearder{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border)
}